.DS_Store
node_modules/
dist/
lib/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
*.tgz
tests/**/coverage/
tests/e2e/reports
selenium-debug.log
*.d.ts
types

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
