_auth="Y2hlbnF1YW46Y3ExMzUyNDY="
email=chenquan3191@dingtalk.com
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
registry=https://registry.npm.taobao.org
@monkey.do:registry=http://192.168.10.34:889/repository/npm-hosted/
@rabbit.do:registry=http://192.168.10.34:889/repository/npm-hosted/
@magpie.do:registry=http://192.168.10.34:889/repository/npm-hosted/
@fish.do:registry=http://192.168.10.34:889/repository/npm-hosted/
