@import "~@/assets/rabbit/styles/element-variables.scss";

$primary-background-color: #ecf5ff;

.rb-page-design {
  *, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .el-tabs {
    height: 100%;
    .el-tabs__header {
      margin: 0;
    }
    .el-tabs__content {
      height: calc(100% - 40px);
      .el-tab-pane {
        height: 100%;
      }
    }
  }
  .fm-container {
    height: 100%;
  }
  .template-component {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none
    }
    .template-component-wrapper{
      margin: 10px;
    }
  }
}
.fm2-container{
  background: #fff;
  height: 100%;
  border: 1px solid #e0e0e0;
  .el-container{
    height: 100% !important;
  }
  &>.el-container{
    background: #fff;
  }
  .fm2-main{
    position: relative;
    height: calc(100% - 50px);

    &>.el-container{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .component-list-box{
        display: flex;
        .component-list-left{
          width: 50px;
        }
        .component-list-right{
          z-index: 999;
          position: absolute;
          height: 100%;
          left: 50px;
          background: #ffffff;
          width: 250px!important;
          box-shadow: rgba(0, 0, 0, .12) 0 10px 20px 0;
        }
      }
    }
  }
  main{
    padding: 0;
  }

  footer{
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #e0e0e0;
    font-size: 12px;
    text-align: right;
    color: $--color-primary;
    background: #fafafa;

    a{
      color: $--color-primary;
    }
  }
}

.center-container{
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;

  .btn-bar{
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    border-bottom: solid 2px #e4e7ed;
    text-align: right;
  }

  .el-main{
    padding: 0;
    position: relative;
    background: #fafafa;
  }
}

.components-list{
  padding: 0 0 8px 0;
  width: 100%;
  height: 100%;
  .component-header{
    height: 36px;
    line-height: 36px;
    background: rgba(37, 40, 43, .8);
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  .widget-cate{
    padding: 8px 12px;
    font-size: 13px;
  }

  ul{
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .form-edit-widget-label{
    font-size: 12px;
    display: block;
    width: 33.33%;
    line-height: 26px;
    position: relative;
    float: left;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    padding: 8px 0;
    border-radius: 10px;
    &:hover{
      background: #F4F6FC;
    }
    .draggable-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: grab;
      .draggable-item-icon{
        width: 22px;
        height: 22px;
        margin-bottom: 4px;
      }
      span{
        width: 100%;
        display: block;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
.widget-form{
  .el-form-item{
    margin-bottom: 0 !important;
  }
}
.widget-form-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .widget-form-list{
    background: #fff;
    border: 1px dashed #999;
    height: 510px;
    margin: 10px;
    overflow: hidden;
    overflow-y: auto;
    padding: 18px;
    &.active{
      outline: 2px solid $--color-primary;
      border: 1px solid $--color-primary;
    }

    .widget-col-list{
      min-height: 50px;
      border: 1px dashed #ccc;
      background: #fff;
    }
    .widget-view-item{
      position: relative;
      .widget-view-form-list{
        min-height: 200px;
        background: #f9f9f9;
      }
    }
    .widget-view-action{
      position: absolute;
      right: 0;
      bottom: 0;
      height: 23px;
      line-height: 23px;
      background: $--color-primary;
      z-index: 1001;
      i{
        font-size: 14px;
        color: #fff;
        margin: 0 5px;
        cursor: pointer;
      }
      &.widget-col-action{
        background: #e6a23c;
      }
    }

    .widget-view{
      padding: 18px 0px;
      position: relative;
      border: 1px dashed rgba(170,170,170,0.7);
      background-color: rgba(236, 245, 255, .3);
      margin: 2px;
      &.widget-view-form{
        padding: 18px 0px;
      }
      &.widget-view-container{
        padding: 0;
      }
      .el-form-item__content{
        position: unset;
      }

      &.is_req{
        .el-form-item__label::before{
          content: '*';
          color: #f56c6c;
          margin-right: 4px;
        }
      }

      .widget-view-description{
        height: 15px;
        line-height: 15px;
        font-size:13px;
        margin-top: 6px;
        color:#909399;
      }

      &:after{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
      }

      &.no-grid:hover{
        background: $primary-background-color;
        outline: 1px solid $--color-primary;
        outline-offset: 0px;
        &::before{
          content: " ";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 999;
        }
        &.active{
          outline: 2px solid $--color-primary;
          border: 1px solid $--color-primary;
          outline-offset: 0;
        }

        .widget-view-drag{
          display: block;
        }
      }
      &:hover{
        background: $primary-background-color;
        outline: 1px solid $--color-primary;
      }

      &.active{
        outline: 2px solid $--color-primary;
        border: 1px solid $--color-primary;
      }

      &.ghost{
        background: #F56C6C;
        border: 2px solid #F56C6C;
        outline-width: 0;
        height: 3px;
        box-sizing: border-box;
        font-size: 0;
        content: '';
        overflow: hidden;
        padding: 0;
      }
      .widget-view-model{
        position: absolute;
        top: 3px;
        right: 3px;
        font-size: 12px;
        color: #67c23a;
        z-index: 9;
        font-weight: 500;
      }
      .widget-view-list{
        display: table;
        width: 100%;
        &.flex{
          display: flex;
          align-items: center;
        }
        .label{
          font-size: 14px;
          font-weight: 400;
          white-space: nowrap;
          padding-right: 10px;
          padding-left: 10px;
          .required{
            color: red;
          }
        }
        .edit-mode{
          width: 100%;
        }
      }
    }

    .widget-table{
      padding-bottom: 0;
      padding: 5px;
      background-color: rgba(253,246,236, .3);

      .widget-table-wrapper{
        min-height: 50px;
        background: #fff;
        display: flex;
        justify-content: flex-start;

        .widget-table-row{
          td{
            border-bottom: 0;
          }
        }

        .widget-table-left{
          width: 51px;
          border-left: 1px solid #EBEEF5;
          border-right: 1px solid #EBEEF5;
          border-top: 1px solid #EBEEF5;
          flex: none;
        }

        .widget-table-view{
          border: 1px solid #EBEEF5;
          width: 200px;
          float: left;
          height: 100%;
          position: relative;
          display: block;

          .el-table{
            height: 100%;
          }

          &.is_req{
            .el-form-item__label::before{
              content: '*';
              color: #f56c6c;
              margin-right: 4px;
            }
          }

          .widget-view-description{
            height: 15px;
            line-height: 15px;
            font-size:13px;
            margin-top: 6px;
            color:#909399;
          }

          .widget-view-action{
            position: absolute;
            right: 0;
            bottom: 0;
            height: 28px;
            line-height: 28px;
            background: $--color-primary;
            z-index: 9;

            i{
              font-size: 14px;
              color: #fff;
              margin: 0 5px;
              cursor: pointer;

            }
          }

          .widget-view-drag{
            position: absolute;
            left: -2px;
            top: -2px;
            bottom: -18px;
            height: 28px;
            line-height: 28px;
            background: $--color-primary;
            z-index: 9;
            // display: none;

            i{
              font-size: 14px;
              color: #fff;
              margin: 0 5px;
              cursor: move;
            }
          }

          &::after{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            content: '';
          }

          &::before{
            display: none;
          }

          &:hover{
            background: $primary-background-color;
            outline: 1px solid $--color-primary;
            outline-offset: -1px;

            &.active{
              // outline: 1px solid $--color-primary;
              border: 1px solid $--color-primary;
              outline: 1px solid $--color-primary;
              outline-offset: -1px;
            }

            .widget-view-drag{
              display: block;
            }
          }

          &.active{
            outline: 1px solid $--color-primary;
            border: 1px solid $--color-primary;
            outline-offset: -1px;
          }

          &.ghost{
            background: #F56C6C;
            outline-width: 0;
            width: 5px !important;
            box-sizing: border-box;
            font-size: 0;
            content: '';
            overflow: hidden;
            padding: 0;
            position: relative;
            outline: none !important;
            border: 0 !important;

            &::after{
              background: #F56C6C;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              z-index: 9999;
              content: '';
              outline: none;
            }
          }
        }

        .widget-table-content{
          width:100%;
          // border: 1px dashed #ccc;
          outline: 1px dashed #ccc;
          background: #fff;
          flex:1;
          margin: 0 1px;
          overflow: auto;

          &>div{
            height: 100%;
          }

          .widget-table-col{
            height: 100%;

            .ghost{
              background: #F56C6C;
              // border: 2px solid #F56C6C;
              position: relative;
              content: '';
              float: left;
              height: 100%;
              width: 5px !important;
              list-style: none;
              font-size: 0;
              overflow: hidden;
              outline: none;

              &::after{
                background: #F56C6C;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 9999;
                content: '';
                outline: none;
              }
            }
          }
        }
      }

      &.active{
        outline: 2px solid #e6a23c;
        border: 1px solid #e6a23c;
      }

      &:hover{
        background: #fdf6ec;
        outline: 1px solid #e6a23c;
        outline-offset: 0px;

        &.active{
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
          outline-offset: 0;
        }
      }

      .widget-view-drag.widget-col-drag{
        background: #e6a23c;
      }

      &::after{
        display: none;
      }

      &.ghost{
        background: #F56C6C;
        outline-width: 0;
        height: 5px;
        box-sizing: border-box;
        font-size: 0;
        content: '';
        overflow: hidden;
        padding: 0;
        position: relative;
        outline: none;
        border: 0;

        &::after{
          background: #F56C6C;
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          display: block;
          z-index: 999;
        }
      }
    }

    .widget-col{
      padding-bottom: 0;
      padding: 5px;
      background-color: rgba(253,246,236, .3);

      &.active{
        outline: 2px solid #e6a23c;
        border: 1px solid #e6a23c;
      }

      &:hover{
        background: #fdf6ec;
        outline: 1px solid #e6a23c;
        outline-offset: 0px;

        &.active{
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
          outline-offset: 0;
        }
      }

      .el-col{
        min-height: 50px;
      }

      &.ghost{
        background: #F56C6C;
        border: 2px solid #F56C6C;
        outline-width: 0;
        height: 3px;
        box-sizing: border-box;
        font-size: 0;
        content: '';
        overflow: hidden;
        padding: 0;
      }

      .widget-view-action.widget-col-action{
        background: #e6a23c;
      }

      .widget-view-drag.widget-col-drag{
        background: #e6a23c;
      }

      &::after{
        display: none;
      }
    }

    .ghost{
      background: #F56C6C;
      border: 2px solid #F56C6C;
      outline-width: 0;
      height: 3px;
      box-sizing: border-box;
      font-size: 0;
      content: '';
      overflow: hidden;
      padding: 0;
    }
    &.hide-component{
      height: 200px;
    }
  }

  .ghost{
    background: #F56C6C;
    border: 2px solid #F56C6C;
    position: relative;

    &::after{
      background: #F56C6C;
    }
  }

  li.ghost{
    height: 5px;
    list-style: none;
    font-size: 0;
    overflow: hidden;
  }

  .widget-grid{
    background: #F4F6FC;
    position: relative;
    border-left: 5px solid transparent;
    padding: 5px;
    margin: 0 !important;

    &.active{
      border-left: 5px solid $--color-primary;
      background: #b3d8ff;
    }
  }

  .widget-grid-container{
    &.ghost{
      background: #F56C6C;
      border: 2px solid #F56C6C;
      outline-width: 0;
      height: 3px;
      box-sizing: border-box;
      font-size: 0;
      content: '';
      overflow: hidden;
      padding: 0;
    }
  }

  .ghost{
    background: #F56C6C;
    border: 2px solid #F56C6C;
    position: relative;
    cursor: grabbing;

    &::after{
      background: #F56C6C;
    }
  }

  li.ghost{
    height: 5px;
    list-style: none;
    font-size: 0;
    overflow: hidden;
  }
}

.widget-config-container{
  position: relative;
  width: 280px!important;

  .el-header{
    border-bottom: solid 1px #e4e7ed;
    padding: 0 5px;
    display: flex;
    height: 34px;
    line-height: 34px;
    text-align: center;
  }

  .config-tab{
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 145px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;

    &.active{
      border-bottom: solid 2px $--color-primary;
    }
  }

  .config-content{
    // padding: 10px;

    .el-form-item__label{
      padding: 0;
      font-weight: 500;
    }

    .el-form-item {
      border-bottom: solid 1px #e1e1e1;
      padding-bottom: 10px;
    }
  }

  .ghost{
    background: #fff;
    border: 1px dashed $--color-primary;

    &::after{
      background: #fff;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  ul{
    margin: 0;
    padding: 0;
  }

  li.ghost{
    list-style: none;
    font-size: 0;
    display: block;
    position: relative;
  }
}

.viewer-container{
  z-index: 99999 !important;
}

.form-empty{
  position: absolute;
  text-align: center;
  width: 300px;
  font-size: 20px;
  top: 200px;
  left: 50%;
  margin-left: -150px;
  color: #ccc;
  &.hide{
    top: 90px;
  }
}

// 控制属性
.property-wrapper{
  display: flex;
  font-size: 12px;
  align-items: center;
  margin: 10px;
  &.baseline{
    align-items: start;
  }
  &.column{
    flex-direction: column;
    align-items: start;
  }
  .property-field{
    margin-right: 8px;
    // white-space: nowrap;
    display: inline-flex;
    width: 60px;
    .field-word{
      flex: 1;
      font-weight: 400;
      overflow: hidden;
      text-align: center;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
  .property-body{
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    flex: 1;
    position: relative;
    overflow: hidden;
    .el-radio-group{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .el-radio-button{
        //width: 100%;
        margin-bottom: 4px;
        .el-radio-button__inner{
          width: 100%;
          padding: 7px 10px;
        }
      }
      &:hover{
        .el-radio-button__inner{
          color: #666;
        }
      }
    }
    .column-box{
      display: flex;
      flex-wrap: wrap;
      .column-list{
        display: flex;
        border: 1px solid #ddd;
        padding: 4px;
        margin: 2px 4px;
        width: 44px;
        cursor: pointer;
        &.active{
          background: #999;
          .column-item{
            background: #fff;
          }
        }
        .column-item{
          background: #ddd;
          margin: 0 2px;
          height: 18px;
        }
      }
    }
  }
}
.rabbit-page-collapse{
  margin-top: 10px;
  .el-collapse-item__header{
    height: 30px;
    line-height: 30px;
    background: #f5f7fa;
    color: #666;
    padding: 0 10px;
  }
  .el-collapse-item__content{
    padding: 10px;
  }
  &.properties{
    .el-collapse-item__content{
      padding: 0px;
    }
  }
}
.popper{
  padding: 0;
  .popper-content{
    padding: 0;
    margin: 0;
    .el-form{
      padding: 10px;
      .el-form-item--small.el-form-item{
        margin-bottom: 10px;
      }
    }
    li{
      list-style: none;
      height: 34px;
      line-height: 34px;
      padding: 0 20px;
      &:hover{
        background: #f5f7fa;
      }
    }
  }
}
.validate{
  display: flex;
  align-items: center;
  // width: 100%;
  justify-content: space-between;
  .validate-content{
    display: flex;
    align-items: center;
  }
}
//组件样式
.rabbit-page-component{
  display: flex;
  font-size: 14px;
  &.column-mode{
    flex-direction: column;
    .rabbit-page-component-label{
      padding-bottom: 8px;
    }
  }
  &.row-mode{
    align-items: center;
  }
  .rabbit-page-component-label{
    padding-right: 16px;
    white-space: nowrap;
    .required{
      color: #f22a32;
      vertical-align: middle;
    }
  }
  .rabbit-page-component-mode{
    flex: 1;
    //单选组件
    .radio-group-box{
      display: flex;
      flex-direction: column;
      .el-radio{
        margin-bottom: 8px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
