@import "./normalize.scss";
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import "./util.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $font-family;
  color: #666;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0!important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}
.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.el-dialog__header {
  .el-dialog__title {
    font-size: 14px;
  }
}

.m-type-selection{
  display: inline-block;
}

//main-container全局样式
.app-container {
  min-width: 945px;
}

.main-container {
   background: url("../images/container-bg.png") repeat center center;
   .main-content-container {
    padding: 14px 22px;
    border-radius: $main-border-radius;
    background: #fff;
    &.full-fill {
      // navbar 48 tagsView 40
      height: calc(100vh - 88px - 24px); // 88：navar + tagsView 24: 外层盒子padding值
      overflow: hidden auto;
    }
    &.no-padding {
      border-radius: $main-border-radius;
      background: #fff;
    }
  }

   &.no-tags-view {
    .app-main {
      height: 100%;
    }

    .main-content-container {
      &.full-fill {
        height: calc(100vh - 48px - 24px); // 48：navbar高度 24: 外层盒子padding值
      }
    }
  }

  &.no-header {
    .main-content-container {
      &.full-fill {
        height: calc(100vh - 40px - 24px); // 48：navbar高度 24: 外层盒子padding值
      }
    }
    &.no-tags-view {
      .main-content-container {
        &.full-fill {
          height: calc(100vh - 24px); // 48：navbar高度 24: 外层盒子padding值
        }
      }
    }
  }
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// scroll-bar
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color:#F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background:rgba(0,0,0,0.45);
}

// form表单
.el-form.no-margin .el-form-item, .el-form.no-margin .el-form-item {
  margin-bottom: 0;
}

.border-radius-16 {
  border-radius: $main-border-radius;
}

.text-primary-color {
  color: $--color-primary;
}

.primary-color {
  color: $--color-primary;
}

.danger-color {
  color: $--color-danger;
}

.mock-a {
  cursor: pointer;
  color: $--color-primary;
}

.color-expression {
  color: #11A983;
  &.isValue {
    color: #088FEF; // 与主题色不一样的蓝色，避免被替换
  }
  &.disabled {
    color: $shallowTextColor;
  }
}


// 人员管理-部门查询 当前选择部门高亮
.dept-tree-custom-node {
  color: $--color-primary;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

// 筛选组件
.rabbit-screening-button{
  display: inline-block;
}
