@import "element-variables";
@import "./variables";

.login-form {
  position: absolute;
  right: 0;
  top: 0;
  width: 496px;
  height: 100%;
  //padding: 48px;
  border-radius: $border-radius;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow:0 10px 20px 0 $box-shadow-color;

  padding: 0 100px;

  //padding: 48px;

  .el-form-item {
    .el-form-item__content {
      line-height: 40px;
    }
    .el-input {
      height: 40px;
      .el-input__prefix, .el-input__inner {
        height: 40px;
        line-height: 40px;
      }
      .el-input__prefix {
        left: 10px;
      }
    }
  }
  .title {
    margin: 120px 0 47px;
    font-size: 24px;
    text-align: center;
    color: $titleColor;
    line-height: 100%;
    > span {
      &:first-child {
        display: inline-block;
        padding-right: 20px;
        margin-right: 12px;
        border-right: 2px solid $titleColor;
      }
    }
  }

  .login-code-box {
    width: 100%;
    .el-form-item__content {
      display: flex;
    }
    .el-input {
      flex: 1;
    }
  }

  .other-login {
    margin-top: 80px;
    color: $shallowTextColor;
    .login-platform-wrapper {
      .login-platform-item {
        display: inline-block;
        margin-right: 40px;
        font-size: 12px;
        cursor: pointer;
        .icon {
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          &.wechat {
            background: url("../images/wechat.png") no-repeat center center;
          }
          &.dingding {
            background: url("../images/dingding.png") no-repeat center center;
          }
        }
        .name {
          margin-top: 12px;
        }
      }
    }
  }

  .check-pass {
    cursor: pointer;
  }
  svg.login-icon {
    width: 16px;
    height: 16px;
    fill: $shallowTextColor;
    vertical-align: -3px;
  }
  .submit-login-btn {
    width: 120px;
  }
}


.login-code {
  width: 120px;
  height: 40px;
  margin-left: 12px;
  border: 1px solid #E9E9E9;
  overflow: hidden;
  font-size: 0;
  border-radius: $border-radius;
  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    vertical-align: middle;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
  .login-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-size: 100% 100%;
  }
}
.el-login-footer {
  font-size: 12px;
  letter-spacing: 1px;
  .about{
    display: inline-block;
    font-size: 14px;
    color: $--color-primary;
    line-height: 1;
    margin-bottom: 24px;
  }
  .record{
    line-height: 1;
    a{
      &:hover{
        color: $--color-primary;
      }
    }
  }
}

@media (min-width: 1920px) {
  .login-form {
    width: 640px;
  }
  .login {
    .login-bg img {
      width: 692px;
      height: 100%;
    }
  }
  .el-login-footer {
    margin-top: 110px;
  }
}

@media (max-width: 1919px) and (min-width: 1440px) {
  .login-form {
    width: 556px;
    padding: 0 68px;
    .title {
      margin: 110px 0 47px;
    }
    .other-login {
      margin-top: 80px;
    }
  }
  .login {
    .login-bg img {
      width: 692px;
      height: 100%;
    }
  }
  .el-login-footer {
    margin-top: 110px;
  }
}

@media (max-width: 1440px) {
  .login-form {
    width: 496px;
    padding: 0 48px;
    .title {
      margin: 40px 0 47px;
    }
    .other-login {
      margin-top: 40px;
    }
  }
  .login {
    .login-bg img {
      width: 530px;
      height: 100%;
    }
  }
  .main-text-container {
    width: 360px;
    line-height:22px;
    z-index: 10;
    >p:last-child {
      margin-top: 36px;
    }
  }
  .el-login-footer {
    margin-top: 40px;
    .about {
      margin-bottom: 10px;
    }
  }
}
