@import "./element-variables";

.tags-view-container {
  position: relative;
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #d8dce5;
  /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 0 3px 0 rgba(0, 0, 0, .04);*/
  .tags-view-wrapper {
    .tags-view-item {
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      background-color: rgba(240,242,245,1);
      color: #333;
      padding: 0 33px 0 16px;
      font-size: 14px;
      margin: 5px 8px 0 0;
      border-radius: 4px;
      &.isAffixTag {
        padding: 0 16px;
      }
      //&:first-of-type {
      //  margin-left: 24px;
      //}
      &:last-of-type {
        margin-right: 15px;
      }
      &.active, &:hover {
        i {
          color: $--color-primary;
        }
      }
      &.active {
        position: relative;
        color: $--color-primary;
        border: 1px solid $--color-primary;
        line-height: 28px;
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color:  $--color-primary;
          border-radius: 4px;
          opacity: 0.1;
        }
      }
      i {
        position: absolute;
        top: 50%;
        right: 16px;
        margin-top: -7px;
        z-index: 2;
      }
    }
  }
  .contextmenu {
    margin: 0;
    background: #fff;
    z-index: 3000;
    position: absolute;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .3);
    li {
      margin: 0;
      padding: 7px 16px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
  }
  // 菜单打开关闭图标
  .hamburger-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: url("~@/assets/rabbit/images/hamburger-bg.png") center center no-repeat;
    z-index: 2;
    &.active {
      .el-icon-arrow-down {
        transform: rotate(90deg);
      }
    }
    .el-icon-arrow-down {
      color: #fff;
      margin-left: 0;
      transform: rotate(270deg);
    }
  }
}
